@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
/* font-family: 'Josefin Sans', sans-serif;
 */
/* font-family: 'Monoton', cursive;
 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
a {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
  cursor: default;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 10%;
  width: 100%;
}
html::-webkit-scrollbar {
  display: none;
}
.example {
  -ms-overflow-style: none;
}
.button_2 {
  background-image: linear-gradient(45deg, #f7fd04 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: all 0.25s ease-in-out;
  padding: 12px 15px;
  border: 2px solid #f7fd04;
  font-size: 150%;
  text-align: center;
  color: #f8f8f8;
}
.button_2:hover {
  background-position: 0;
  color: #000;
}
.section-title-1 {
  font-size: 7rem;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px #f8f8f8;
  text-align: center;
  font-weight: 800;
  font-family: sans-serif;
  text-transform: capitalize;
}
.section-title-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "SF Mono Regular";
}
.section-title-2 .num {
  font-size: 1.4rem;
  color: #ffc93c;
}
.section-title-2 .title {
  margin-left: 10px;
  font-size: 1.6rem;
  color: #f8f8f8;
  font-weight: 700;
  text-transform: capitalize;
}
.section-title-2 .line {
  border-top: 1px solid #f8f8f8;
  width: 200px;
  margin-left: 20px;
}
@media (max-width: 540px) {
  .email-container,
  .social-container {
    display: none;
  }
}
.email-container,
.social-container {
  width: 60px;
  height: 100%;
  z-index: 10000;
  color: #f8f8f8;
  position: fixed;
}
.email-container .line,
.social-container .line {
  transform: translateX(-50%);
  width: 0;
  border-left: 1px solid #f8f8f8;
  height: 100px;
}
.email-container .email-wrapper,
.social-container .email-wrapper,
.email-container .social-wrapper,
.social-container .social-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0;
}
.social-container {
  left: 30px;
}
.social-container .logo {
  height: 100px;
  width: 0;
  padding: 10px 0 0 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
}
.social-container .social-wrapper .icons {
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}
.social-container .social-wrapper .icons i {
  margin-bottom: 15px;
  color: #f8f8f8;
}
.social-container .social-wrapper .icons i:hover {
  color: #ffc93c;
}
.email-container {
  right: 30px;
}
.email-container .email-wrapper .email {
  font-family: "SF Mono Regular";
  font-size: 1rem !important;
  position: absolute;
  transform: translateX(-50%) rotate(90deg);
  top: -140px;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}
.email-container .email-wrapper .email a {
  color: #f8f8f8;
}
.email-container .email-wrapper .email a:hover {
  color: #ffc93c;
}
.home {
  position: relative;
  color: #f8f8f8;
  height: 100vh;
  width: 100%;
  background-color: #1c1b20;
}
.home header {
  position: absolute;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.home header .link-wrapper {
  display: flex;
}
.home header .link-wrapper ul {
  margin-right: 20px;
  list-style: none;
  display: flex;
  text-transform: capitalize;
}
.home header .link-wrapper ul li {
  font-family: "SF Mono Regular";
  margin-right: 25px;
  font-size: 0.9rem;
}
.home header .link-wrapper ul li span {
  color: #bf1363;
  margin-right: 5px;
}
.home header .link-wrapper ul li a {
  color: #f8f8f8;
}
.home header .link-wrapper ul li a:hover {
  color: #bf1363;
}
.home header .link-wrapper ul li:nth-child(4) a {
  font-size: 1rem;
  padding: 10px 10px;
}
.home header .link-wrapper ul li:nth-child(4) a:hover {
  color: #f8f8f8;
}
.home .container {
  height: 100%;
  padding-left: 13%;
  display: flex;
  align-items: center;
}
.home .container .hero-text p {
  margin-left: 5px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-family: "SF Mono Regular";
}
.home .container .hero-text .name {
  font-family: "SF Mono Heavy";
  color: #ffc93c;
  font-size: 6.5rem;
}
.home .container .hero-text h1 {
  font-family: "SF Mono Bold";
  font-size: 4.6rem;
  letter-spacing: -3px;
  color: rgba(248, 248, 248, 0.5);
}
.home .container .hero-text .btn {
  margin-left: 10px;
  margin-top: 70px;
  font-family: "SF Mono Semibold";
  letter-spacing: -1px;
}
.home .container .hero-text .btn .button_2 {
  margin-right: 30px;
}
.about {
  height: 110vh;
  width: 100%;
  padding-left: 4%;
  background-color: #1c1b20;
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.about .container .left {
  width: 45%;
}
.about .container .left .content-wrapper {
  margin-top: 40px;
  font-family: "Josefin Sans", sans-serif;
  color: #f8f8f8;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.about .container .left .content-wrapper p {
  text-align: justify;
  line-height: 2rem;
  font-size: 1.4rem;
}
.about .container .left .content-wrapper p span {
  color: #ffc93c;
  font-weight: 700;
}
.about .container .left .content-wrapper ul {
  list-style-type: square tye;
  font-size: 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.about .container .left .content-wrapper ul li {
  margin: 7px;
  padding: 9px 10px 7px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.2rem;
  border-radius: 3px;
}
.about .container .right {
  width: 40%;
}
.about .container .right .img-wrapper {
  position: relative;
  width: 80%;
}
.about .container .right .img-wrapper .box {
  z-index: 4;
  position: absolute;
  top: 30px;
  left: 30px;
  height: 100%;
  width: 85%;
  border: 2px solid #f7fd04;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}
.about .container .right .img-wrapper img {
  position: relative;
  z-index: 5;
  width: 85%;
  transition-duration: 300ms;
}
.about .container .right .img-wrapper:hover .box {
  top: 20px;
  left: 20px;
}
.projects {
  min-height: 100vh;
  width: 100%;
  background-color: #1c1b20;
}
.projects .container {
  padding-top: 100px;
}
.projects .container .tile-container {
  padding-top: 100px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.projects .container .tile-container .tile-wrapper {
  position: relative;
  height: 210px;
  min-width: 320px;
  margin-bottom: 3vw;
  background-position: center;
  overflow: hidden;
  transition-duration: 400ms;
  transition-timing-function: ease;
}
.projects .container .tile-container .tile-wrapper h3 {
  position: absolute;
  z-index: 5;
  top: 75%;
  padding-left: 20px;
  width: 100%;
  color: #f8f8f8;
  text-transform: capitalize;
  font-family: "Josefin sans";
  font-weight: 400;
  font-size: 1.5rem;
  transition-duration: 400ms;
  transition-timing-function: ease;
}
.projects .container .tile-container .tile-wrapper .perm-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.projects .container .tile-container .tile-wrapper .temp-overlay {
  position: absolute;
  top: 100%;
  z-index: 4;
  height: 100%;
  width: 100%;
  transition-duration: 400ms;
  transition-timing-function: ease;
}
.projects .container .tile-container .tile-wrapper .temp-overlay .text-wrapper {
  position: absolute;
  top: 30%;
  color: #f8f8f8;
  padding: 0 20px;
}
.projects
  .container
  .tile-container
  .tile-wrapper
  .temp-overlay
  .text-wrapper
  p {
  font-size: 1.1rem;
  font-family: "Josefin sans";
  line-height: 1.7rem;
}
.projects
  .container
  .tile-container
  .tile-wrapper
  .temp-overlay
  .text-wrapper
  .btn-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  margin-top: 25px;
}
.projects
  .container
  .tile-container
  .tile-wrapper
  .temp-overlay
  .text-wrapper
  .btn-container
  .btn-wrapper {
  background-color: rgba(30, 30, 30, 1);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 500px;
  cursor: pointer;
  color: #f8f8f8;
}
.projects
  .container
  .tile-container
  .tile-wrapper
  .temp-overlay
  .text-wrapper
  .btn-container
  .btn-wrapper
  .fa-github {
  font-size: 1.4rem;
}
.projects .container .tile-container .tile-wrapper:hover {
  background-position-y: -20px;
}
.projects .container .tile-container .tile-wrapper:hover h3 {
  top: 10%;
}
.projects .container .tile-container .tile-wrapper:hover .temp-overlay {
  top: 0;
}

.projects .container .tile-container .tile-1 .perm-overlay {
  background-color: rgba(28, 116, 61, 0.9);
}
.projects .container .tile-container .tile-1 .temp-overlay {
  background-color: #1c743d;
}
.projects
  .container
  .tile-container
  .tile-1
  .temp-overlay
  .btn-container
  .btn-wrapper:hover {
  color: #1c743d;
}

.projects .container .tile-container .tile-4 .perm-overlay {
  background-color: rgba(255, 166, 0, 0.8);
}
.projects .container .tile-container .tile-4 .temp-overlay {
  background-color: rgba(255, 166, 0, 0.9);
}
.projects
  .container
  .tile-container
  .tile-4
  .temp-overlay
  .btn-container
  .btn-wrapper:hover {
  color: rgba(255, 166, 0, 1);
}
.projects .container .tile-container .tile-3 {
  background-image: url("../images/projects/greathack.png");
}
.projects .container .tile-container .tile-3 .perm-overlay {
  background-color: rgba(64, 144, 187, 0.8);
}
.projects .container .tile-container .tile-3 .temp-overlay {
  background-color: #4090bb;
}
.projects
  .container
  .tile-container
  .tile-3
  .temp-overlay
  .btn-container
  .btn-wrapper:hover {
  color: #4090bb;
}
.projects .container .tile-container .tile-2 {
  background-image: url("images/projects/Eforms.png");
}
.projects .container .tile-container .tile-2 .perm-overlay {
  background-color: rgba(219, 83, 106, 0.9);
}
.projects .container .tile-container .tile-2 .temp-overlay {
  background-color: rgba(219, 83, 106, 1);
}
.projects
  .container
  .tile-container
  .tile-2
  .temp-overlay
  .btn-container
  .btn-wrapper:hover {
  color: #db536a;
}
.projects .container .tile-container .tile-4 {
  background-image: url("images/projects/tesla.png");
}
.projects .container .tile-container .tile-5 .perm-overlay {
  background-color: rgba(214, 72, 59, 0.8);
}
.projects .container .tile-container .tile-5 .temp-overlay {
  background-color: #d6483b;
}
.projects
  .container
  .tile-container
  .tile-5
  .temp-overlay
  .btn-container
  .btn-wrapper:hover {
  color: #d6483b;
}
.projects .container .tile-container .tile-6 {
  background-image: url("images/projects/mortage.png");
}
.projects .container .tile-container .tile-6 .perm-overlay {
  background-color: rgba(172, 48, 255, 0.85);
}
.projects .container .tile-container .tile-6 .temp-overlay {
  background-color: rgba(172, 48, 255, 1);
}
.projects
  .container
  .tile-container
  .tile-6
  .temp-overlay
  .btn-container
  .btn-wrapper:hover {
  color: rgba(172, 48, 255, 1);
}
.contact {
  height: 100vh;
  width: 100%;
  background-color: #1c1b20;
}
.contact h3 {
  color: #f8f8f8;
  font-size: 5rem;
  margin-bottom: 50px;
  padding-top: 70px;
  font-family: "Josefin Sans";
  text-align: center;
}
.contact .container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.contact .container p,
.contact .container h6 {
  max-width: 60%;
  text-align: center;
  color: #f8f8f8;
  font-family: "Josefin Sans";
  font-size: 1.5rem;
}
.contact .container p {
  margin-bottom: 1em;
  line-height: 1.9rem;
}
.contact .container h6 {
  color: rgba(248, 248, 248, 0.5);
}
.contact .container .btn {
  margin: 70px 0 30px 0;
  font-family: "SF Mono Semibold";
  letter-spacing: -1px;
}
.contact .container h2 {
  margin-top: 50px;
  font-family: "Josefin Sans";
  font-size: 4.5rem;
  padding-bottom: 10px;
}
.contact .container h2 a,
.contact .container h2 a:visited,
.contact .container h2 a::before,
.contact .container h2 a::after {
  text-decoration: none !important;
  color: #ffc93c;
}
.contact .container h2:hover {
  border-bottom: 8px solid #ff5851;
  cursor: pointer;
}
#mobile-incompatible {
  display: none;
}
#mobile-incompatible .text-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #1c1b20;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile-incompatible .text-wrapper p {
  font-family: "Josefin Sans", sans-serif;
  color: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
}
#mobile-incompatible .text-wrapper p span {
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  main {
    display: none;
  }
  #mobile-incompatible {
    display: unset;
  }
}
.box3 {
  height: 200px;
  width: 400px;
  border-radius: 10px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.box3:hover {
  box-shadow: 0px 3px 15px rgba(233, 228, 228, 0.2);
}
.box3 img {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box3 h1 {
  font-family: "Josefin Sans", sans-serif;

  color: #bf1363;
  text-align: center;
}
.he {
  margin: 20px;
}

.box3 span {
  color: #ff5851;
}

.role1 {
  color: #f8f8f8 !important;
  background-color: #1c1b20;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dataFlow {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#19a598, #19a598),
    linear-gradient(#19a598, #19a598), linear-gradient(#19a598, #19a598),
    linear-gradient(#19a598, #19a598), linear-gradient(#19a598, #19a598),
    linear-gradient(#19a598, #19a598), linear-gradient(#19a598, #19a598),
    linear-gradient(#19a598, #19a598), linear-gradient(#19a598, #19a598),
    linear-gradient(#19a598, #19a598), linear-gradient(#19a598, #19a598),
    linear-gradient(#19a598, #19a598), linear-gradient(#19a598, #19a598),
    linear-gradient(#19a598, #19a598), linear-gradient(#19a598, #19a598);
  background-repeat: no-repeat;
  background-size: 3% 0.6%;
  animation: lft-rght 100s infinite linear;
}
@keyframes lft-rght {
  0% {
    background-position: 49% 94%, 63% 83%, -20% 28%, 2% 81%, 7% 42%, 18% 67%,
      19% 85%, 90% 71%, 74% 5%, 123% 17%, -23% 5%, 24% 21%, 80% 87%, 119% 55%,
      47% 15%;
  }
  1% {
    background-position: 41% 94%, -24% 83%, 65% 28%, 104% 81%, 70% 42%, 100% 67%,
      -10% 85%, -8% 71%, 78% 5%, 67% 17%, 88% 5%, 86% 21%, 92% 87%, 12% 55%,
      103% 15%;
  }
  2% {
    background-position: 51% 94%, 106% 83%, 87% 28%, 103% 81%, 35% 42%, 26% 67%,
      51% 85%, 17% 71%, 114% 5%, 44% 17%, -19% 5%, 8% 21%, 21% 87%, 0% 55%,
      86% 15%;
  }
  3% {
    background-position: 76% 94%, 98% 83%, 65% 28%, 5% 81%, 21% 42%, 6% 67%,
      16% 85%, -1% 71%, 33% 5%, 27% 17%, 103% 5%, 52% 21%, 124% 87%, 116% 55%,
      -14% 15%;
  }
  4% {
    background-position: 102% 94%, -20% 83%, 118% 28%, -2% 81%, -5% 42%,
      -14% 67%, 76% 85%, 71% 71%, 101% 5%, 9% 17%, -5% 5%, 31% 21%, 60% 87%,
      89% 55%, 124% 15%;
  }
  5% {
    background-position: 96% 94%, 42% 83%, 78% 28%, 66% 81%, -15% 42%, -7% 67%,
      68% 85%, 86% 71%, 72% 5%, 77% 17%, 81% 5%, 9% 21%, 96% 87%, 63% 55%,
      -8% 15%;
  }
  6% {
    background-position: 97% 94%, -23% 83%, 25% 28%, 26% 81%, -7% 42%, -24% 67%,
      24% 85%, -7% 71%, 81% 5%, 17% 17%, -1% 5%, 68% 21%, 67% 87%, 36% 55%,
      56% 15%;
  }
  7% {
    background-position: 120% 94%, 123% 83%, 114% 28%, 39% 81%, 12% 42%, -5% 67%,
      64% 85%, 114% 71%, 113% 5%, 59% 17%, 97% 5%, 2% 21%, 50% 87%, 24% 55%,
      19% 15%;
  }
  8% {
    background-position: 116% 94%, -10% 83%, 9% 28%, -8% 81%, 5% 42%, 108% 67%,
      61% 85%, 62% 71%, 39% 5%, 77% 17%, 78% 5%, 93% 21%, 58% 87%, -23% 55%,
      47% 15%;
  }
  9% {
    background-position: 39% 94%, 3% 83%, 45% 28%, 79% 81%, 72% 42%, -8% 67%,
      114% 85%, -5% 71%, 64% 5%, 10% 17%, 67% 5%, 78% 21%, 35% 87%, 26% 55%,
      59% 15%;
  }
  10% {
    background-position: -13% 94%, 8% 83%, -4% 28%, 0% 81%, 3% 42%, 76% 67%,
      11% 85%, 71% 71%, 99% 5%, 24% 17%, 14% 5%, 38% 21%, -17% 87%, 117% 55%,
      69% 15%;
  }
  11% {
    background-position: 119% 94%, 25% 83%, 122% 28%, 68% 81%, 34% 42%, 43% 67%,
      1% 85%, -22% 71%, 0% 5%, 36% 17%, 9% 5%, 57% 21%, 52% 87%, 15% 55%,
      109% 15%;
  }
  12% {
    background-position: 55% 94%, 106% 83%, -6% 28%, 6% 81%, 20% 42%, 96% 67%,
      100% 85%, 69% 71%, 67% 5%, 123% 17%, 120% 5%, 14% 21%, -23% 87%, 61% 55%,
      61% 15%;
  }
  13% {
    background-position: 117% 94%, -12% 83%, 115% 28%, 91% 81%, 75% 42%,
      -21% 67%, 120% 85%, 17% 71%, -13% 5%, 100% 17%, -15% 5%, 99% 21%, 94% 87%,
      82% 55%, 92% 15%;
  }
  14% {
    background-position: 93% 94%, 61% 83%, 22% 28%, 62% 81%, 3% 42%, 8% 67%,
      26% 85%, 14% 71%, 14% 5%, 52% 17%, 26% 5%, -21% 21%, 39% 87%, -16% 55%,
      2% 15%;
  }
  15% {
    background-position: 120% 94%, 53% 83%, 34% 28%, -23% 81%, -22% 42%, 8% 67%,
      110% 85%, 118% 71%, 56% 5%, 73% 17%, 113% 5%, 59% 21%, 12% 87%, -9% 55%,
      84% 15%;
  }
  16% {
    background-position: -17% 94%, 119% 83%, 18% 28%, 121% 81%, 92% 42%, 91% 67%,
      93% 85%, 50% 71%, 74% 5%, 109% 17%, 113% 5%, 115% 21%, 109% 87%, 0% 55%,
      26% 15%;
  }
  17% {
    background-position: -22% 94%, -18% 83%, 98% 28%, 3% 81%, -4% 42%, 12% 67%,
      104% 85%, 60% 71%, 23% 5%, 8% 17%, 28% 5%, 84% 21%, 44% 87%, 69% 55%,
      19% 15%;
  }
  18% {
    background-position: -3% 94%, 55% 83%, 106% 28%, 19% 81%, 110% 42%, 49% 67%,
      115% 85%, 114% 71%, 103% 5%, -4% 17%, 28% 5%, 83% 21%, -24% 87%, 122% 55%,
      93% 15%;
  }
  19% {
    background-position: 98% 94%, 90% 83%, 34% 28%, -3% 81%, 107% 42%, 57% 67%,
      -14% 85%, 19% 71%, 50% 5%, 24% 17%, 7% 5%, 64% 21%, -20% 87%, 14% 55%,
      35% 15%;
  }
  20% {
    background-position: -8% 94%, 96% 83%, 96% 28%, 107% 81%, 32% 42%, 79% 67%,
      84% 85%, 50% 71%, 5% 5%, 53% 17%, 38% 5%, 53% 21%, 0% 87%, -9% 55%,
      -10% 15%;
  }
  21% {
    background-position: 104% 94%, 113% 83%, 22% 28%, -17% 81%, 1% 42%, 61% 67%,
      48% 85%, 83% 71%, 85% 5%, 61% 17%, 73% 5%, 46% 21%, 68% 87%, 85% 55%,
      54% 15%;
  }
  22% {
    background-position: 12% 94%, 4% 83%, 124% 28%, 36% 81%, 88% 42%, 55% 67%,
      67% 85%, 86% 71%, 122% 5%, 63% 17%, -10% 5%, 4% 21%, 96% 87%, 74% 55%,
      104% 15%;
  }
  23% {
    background-position: 5% 94%, 59% 83%, -19% 28%, -17% 81%, 82% 42%, 9% 67%,
      102% 85%, 31% 71%, 109% 5%, 35% 17%, 77% 5%, 82% 21%, 19% 87%, 89% 55%,
      -22% 15%;
  }
  24% {
    background-position: 92% 94%, 52% 83%, 44% 28%, -6% 81%, 113% 42%, -1% 67%,
      71% 85%, 80% 71%, 104% 5%, 89% 17%, 61% 5%, -7% 21%, 34% 87%, 12% 55%,
      -13% 15%;
  }
  25% {
    background-position: 61% 94%, 85% 83%, 22% 28%, 107% 81%, 83% 42%, 50% 67%,
      117% 85%, 6% 71%, 33% 5%, 77% 17%, 81% 5%, 69% 21%, 29% 87%, 4% 55%,
      10% 15%;
  }
  26% {
    background-position: -4% 94%, -14% 83%, 33% 28%, 73% 81%, 64% 42%, 48% 67%,
      40% 85%, 79% 71%, 54% 5%, 11% 17%, -13% 5%, 122% 21%, 37% 87%, -11% 55%,
      123% 15%;
  }
  27% {
    background-position: -12% 94%, 19% 83%, 76% 28%, 60% 81%, 81% 42%, 105% 67%,
      54% 85%, -1% 71%, 22% 5%, 12% 17%, 9% 5%, 89% 21%, 80% 87%, 32% 55%,
      75% 15%;
  }
  28% {
    background-position: 62% 94%, 65% 83%, -12% 28%, 104% 81%, 74% 42%, 58% 67%,
      -4% 85%, 5% 71%, 110% 5%, -4% 17%, 16% 5%, 87% 21%, 27% 87%, 10% 55%,
      -8% 15%;
  }
  29% {
    background-position: 96% 94%, 32% 83%, 64% 28%, 72% 81%, 91% 42%, -19% 67%,
      75% 85%, 40% 71%, 78% 5%, 98% 17%, 8% 5%, 43% 21%, 53% 87%, -17% 55%,
      36% 15%;
  }
  30% {
    background-position: 14% 94%, 45% 83%, 50% 28%, 11% 81%, 56% 42%, 78% 67%,
      44% 85%, 8% 71%, 65% 5%, 42% 17%, 57% 5%, 74% 21%, 96% 87%, 77% 55%,
      68% 15%;
  }
  31% {
    background-position: 89% 94%, 9% 83%, 0% 28%, -11% 81%, -14% 42%, 82% 67%,
      41% 85%, 84% 71%, 14% 5%, -21% 17%, 109% 5%, 99% 21%, 24% 87%, 29% 55%,
      46% 15%;
  }
  32% {
    background-position: 58% 94%, 113% 83%, 62% 28%, 112% 81%, 110% 42%, -7% 67%,
      15% 85%, 113% 71%, 30% 5%, 45% 17%, 115% 5%, -23% 21%, 22% 87%, -18% 55%,
      28% 15%;
  }
  33% {
    background-position: 12% 94%, 108% 83%, 120% 28%, 89% 81%, 115% 42%, 41% 67%,
      67% 85%, 78% 71%, 118% 5%, 86% 17%, -1% 5%, 51% 21%, 28% 87%, 49% 55%,
      -7% 15%;
  }
  34% {
    background-position: 33% 94%, 104% 83%, 94% 28%, 32% 81%, 6% 42%, 1% 67%,
      -4% 85%, 53% 71%, -4% 5%, -5% 17%, 121% 5%, 125% 21%, 106% 87%, 88% 55%,
      9% 15%;
  }
  35% {
    background-position: 98% 94%, 15% 83%, 38% 28%, 3% 81%, -14% 42%, 102% 67%,
      43% 85%, 66% 71%, 59% 5%, 44% 17%, 59% 5%, 34% 21%, -10% 87%, 6% 55%,
      119% 15%;
  }
  36% {
    background-position: -14% 94%, 92% 83%, 5% 28%, 38% 81%, 83% 42%, 46% 67%,
      71% 85%, 25% 71%, 20% 5%, 15% 17%, 1% 5%, -15% 21%, 4% 87%, -11% 55%,
      31% 15%;
  }
  37% {
    background-position: 95% 94%, 26% 83%, -7% 28%, 5% 81%, 79% 42%, 77% 67%,
      32% 85%, 110% 71%, 23% 5%, 125% 17%, 55% 5%, 92% 21%, 11% 87%, 62% 55%,
      51% 15%;
  }
  38% {
    background-position: 39% 94%, 62% 83%, 100% 28%, 69% 81%, 71% 42%, 65% 67%,
      68% 85%, -11% 71%, 1% 5%, 115% 17%, 29% 5%, 23% 21%, -22% 87%, 19% 55%,
      -16% 15%;
  }
  39% {
    background-position: 41% 94%, 69% 83%, 122% 28%, 80% 81%, 9% 42%, 118% 67%,
      67% 85%, 122% 71%, -12% 5%, -23% 17%, 49% 5%, 118% 21%, 100% 87%, 80% 55%,
      39% 15%;
  }
  40% {
    background-position: 92% 94%, 61% 83%, 55% 28%, 70% 81%, 48% 42%, 79% 67%,
      -23% 85%, 85% 71%, 47% 5%, 107% 17%, 31% 5%, -1% 21%, 14% 87%, -3% 55%,
      88% 15%;
  }
  41% {
    background-position: 74% 94%, -22% 83%, 106% 28%, 108% 81%, -24% 42%,
      106% 67%, 21% 85%, 83% 71%, 24% 5%, 52% 17%, 80% 5%, 51% 21%, 3% 87%,
      104% 55%, -8% 15%;
  }
  42% {
    background-position: 117% 94%, 115% 83%, 94% 28%, -13% 81%, 85% 42%, 52% 67%,
      76% 85%, 23% 71%, 4% 5%, 56% 17%, 73% 5%, 71% 21%, 54% 87%, 87% 55%,
      4% 15%;
  }
  43% {
    background-position: 85% 94%, 74% 83%, 1% 28%, -2% 81%, -13% 42%, 51% 67%,
      58% 85%, 108% 71%, 8% 5%, 7% 17%, 50% 5%, 79% 21%, 109% 87%, 82% 55%,
      -1% 15%;
  }
  44% {
    background-position: 79% 94%, 82% 83%, 117% 28%, 70% 81%, 101% 42%, 67% 67%,
      -22% 85%, 29% 71%, 107% 5%, -13% 17%, -20% 5%, 38% 21%, 48% 87%, 42% 55%,
      72% 15%;
  }
  45% {
    background-position: 50% 94%, -17% 83%, 101% 28%, 68% 81%, 45% 42%, -12% 67%,
      87% 85%, 84% 71%, 37% 5%, -16% 17%, -9% 5%, 22% 21%, -23% 87%, 21% 55%,
      22% 15%;
  }
  46% {
    background-position: 41% 94%, 69% 83%, 35% 28%, 60% 81%, 117% 42%, 118% 67%,
      76% 85%, 88% 71%, -18% 5%, 6% 17%, 11% 5%, 100% 21%, 107% 87%, 24% 55%,
      25% 15%;
  }
  47% {
    background-position: 35% 94%, 81% 83%, -24% 28%, 47% 81%, 26% 42%, 101% 67%,
      -8% 85%, 81% 71%, 119% 5%, 10% 17%, 9% 5%, 41% 21%, -15% 87%, 6% 55%,
      59% 15%;
  }
  48% {
    background-position: 46% 94%, 64% 83%, 48% 28%, 91% 81%, 122% 42%, 25% 67%,
      5% 85%, -3% 71%, 8% 5%, 61% 17%, 50% 5%, 31% 21%, 101% 87%, -23% 55%,
      54% 15%;
  }
  49% {
    background-position: -13% 94%, 59% 83%, -6% 28%, 41% 81%, 100% 42%, 115% 67%,
      11% 85%, 51% 71%, 109% 5%, 53% 17%, 78% 5%, 60% 21%, 86% 87%, 84% 55%,
      44% 15%;
  }
  50% {
    background-position: -6% 94%, 6% 83%, 25% 28%, -13% 81%, -2% 42%, 39% 67%,
      36% 85%, 69% 71%, 17% 5%, 55% 17%, 100% 5%, 38% 21%, 90% 87%, 71% 55%,
      -12% 15%;
  }
  51% {
    background-position: 113% 94%, 51% 83%, 97% 28%, 93% 81%, -4% 42%, 11% 67%,
      82% 85%, 122% 71%, 63% 5%, 68% 17%, 33% 5%, 81% 21%, 117% 87%, 1% 55%,
      18% 15%;
  }
  52% {
    background-position: 27% 94%, -17% 83%, 24% 28%, -23% 81%, -20% 42%, 26% 67%,
      116% 85%, 54% 71%, 6% 5%, 49% 17%, 72% 5%, 12% 21%, 31% 87%, 78% 55%,
      79% 15%;
  }
  53% {
    background-position: 37% 94%, 47% 83%, -23% 28%, 24% 81%, 100% 42%, 34% 67%,
      116% 85%, 56% 71%, -4% 5%, 76% 17%, 87% 5%, 109% 21%, 41% 87%, 8% 55%,
      -3% 15%;
  }
  54% {
    background-position: 97% 94%, -4% 83%, 14% 28%, -17% 81%, 120% 42%, 21% 67%,
      57% 85%, -22% 71%, 114% 5%, 124% 17%, 117% 5%, 95% 21%, 68% 87%, 119% 55%,
      -18% 15%;
  }
  55% {
    background-position: 106% 94%, -6% 83%, 62% 28%, 84% 81%, 47% 42%, 68% 67%,
      111% 85%, 54% 71%, 93% 5%, 4% 17%, 26% 5%, 91% 21%, 4% 87%, 72% 55%,
      7% 15%;
  }
  56% {
    background-position: 40% 94%, 67% 83%, 2% 28%, 60% 81%, 102% 42%, 39% 67%,
      78% 85%, 87% 71%, 105% 5%, 66% 17%, -24% 5%, 103% 21%, 97% 87%, 110% 55%,
      110% 15%;
  }
  57% {
    background-position: 14% 94%, -6% 83%, 18% 28%, 83% 81%, 88% 42%, -6% 67%,
      99% 85%, 27% 71%, 27% 5%, 84% 17%, 44% 5%, 16% 21%, 103% 87%, -6% 55%,
      100% 15%;
  }
  58% {
    background-position: 49% 94%, 13% 83%, -18% 28%, 56% 81%, 66% 42%, 95% 67%,
      -13% 85%, 17% 71%, 4% 5%, -19% 17%, -22% 5%, 25% 21%, 93% 87%, -23% 55%,
      97% 15%;
  }
  59% {
    background-position: -17% 94%, 96% 83%, 79% 28%, -19% 81%, 64% 42%, -22% 67%,
      49% 85%, 86% 71%, -12% 5%, 90% 17%, 11% 5%, -23% 21%, 124% 87%, 68% 55%,
      60% 15%;
  }
  60% {
    background-position: -23% 94%, 73% 83%, 57% 28%, 7% 81%, -16% 42%, 69% 67%,
      118% 85%, -23% 71%, 78% 5%, 66% 17%, -16% 5%, 29% 21%, 113% 87%, 88% 55%,
      53% 15%;
  }
  61% {
    background-position: 123% 94%, 89% 83%, 32% 28%, 71% 81%, 13% 42%, 104% 67%,
      111% 85%, 107% 71%, -10% 5%, 99% 17%, 122% 5%, 3% 21%, 20% 87%, 4% 55%,
      96% 15%;
  }
  62% {
    background-position: 116% 94%, 121% 83%, 62% 28%, 93% 81%, 93% 42%, 110% 67%,
      102% 85%, -7% 71%, 93% 5%, 105% 17%, 29% 5%, 5% 21%, 106% 87%, 71% 55%,
      95% 15%;
  }
  63% {
    background-position: 83% 94%, -1% 83%, 26% 28%, 82% 81%, 120% 42%, 57% 67%,
      24% 85%, 108% 71%, 12% 5%, 8% 17%, 125% 5%, 45% 21%, 85% 87%, 6% 55%,
      123% 15%;
  }
  64% {
    background-position: 93% 94%, -18% 83%, 88% 28%, 34% 81%, 86% 42%, 62% 67%,
      -22% 85%, 79% 71%, 47% 5%, 5% 17%, 71% 5%, 72% 21%, 63% 87%, 55% 55%,
      89% 15%;
  }
  65% {
    background-position: 92% 94%, 34% 83%, 47% 28%, 45% 81%, 68% 42%, 49% 67%,
      58% 85%, -10% 71%, 84% 5%, 8% 17%, 61% 5%, 71% 21%, 48% 87%, 56% 55%,
      96% 15%;
  }
  66% {
    background-position: 106% 94%, 7% 83%, 45% 28%, 112% 81%, 93% 42%, 19% 67%,
      117% 85%, -4% 71%, 20% 5%, 34% 17%, 48% 5%, -24% 21%, 61% 87%, 32% 55%,
      8% 15%;
  }
  67% {
    background-position: 22% 94%, 86% 83%, 101% 28%, 85% 81%, -5% 42%, 71% 67%,
      -13% 85%, 89% 71%, 15% 5%, 53% 17%, 119% 5%, 114% 21%, 114% 87%, 114% 55%,
      56% 15%;
  }
  68% {
    background-position: 12% 94%, 39% 83%, 12% 28%, 121% 81%, 96% 42%, 25% 67%,
      118% 85%, 53% 71%, 54% 5%, 86% 17%, 19% 5%, 37% 21%, 69% 87%, 117% 55%,
      -19% 15%;
  }
  69% {
    background-position: 113% 94%, 47% 83%, 84% 28%, 21% 81%, 55% 42%, 125% 67%,
      13% 85%, 4% 71%, 57% 5%, 48% 17%, 26% 5%, 97% 21%, 62% 87%, 105% 55%,
      -24% 15%;
  }
  70% {
    background-position: 15% 94%, -13% 83%, 3% 28%, 21% 81%, 111% 42%, 44% 67%,
      104% 85%, 76% 71%, 13% 5%, 106% 17%, 7% 5%, 100% 21%, 17% 87%, 53% 55%,
      26% 15%;
  }
  71% {
    background-position: 21% 94%, 3% 83%, 103% 28%, 113% 81%, 61% 42%, 69% 67%,
      121% 85%, 3% 71%, 112% 5%, -10% 17%, 23% 5%, 94% 21%, 7% 87%, 3% 55%,
      47% 15%;
  }
  72% {
    background-position: -22% 94%, 74% 83%, -6% 28%, 100% 81%, 24% 42%, -9% 67%,
      1% 85%, 4% 71%, -17% 5%, 49% 17%, 51% 5%, 42% 21%, 69% 87%, 53% 55%,
      -4% 15%;
  }
  73% {
    background-position: 45% 94%, 3% 83%, 108% 28%, 117% 81%, 102% 42%, -22% 67%,
      -19% 85%, 115% 71%, 105% 5%, 32% 17%, 102% 5%, 105% 21%, -9% 87%, -3% 55%,
      28% 15%;
  }
  74% {
    background-position: 30% 94%, 67% 83%, 117% 28%, -9% 81%, -16% 42%, 104% 67%,
      113% 85%, 16% 71%, 87% 5%, 45% 17%, 124% 5%, 104% 21%, -2% 87%, 80% 55%,
      -20% 15%;
  }
  75% {
    background-position: -19% 94%, 1% 83%, 102% 28%, -2% 81%, 55% 42%, -15% 67%,
      10% 85%, 73% 71%, 42% 5%, 69% 17%, 102% 5%, 67% 21%, 30% 87%, 2% 55%,
      84% 15%;
  }
  76% {
    background-position: 50% 94%, 14% 83%, 0% 28%, 7% 81%, -12% 42%, 94% 67%,
      116% 85%, 66% 71%, 109% 5%, 86% 17%, -24% 5%, 106% 21%, 97% 87%, 72% 55%,
      58% 15%;
  }
  77% {
    background-position: 31% 94%, 124% 83%, 64% 28%, 118% 81%, 95% 42%, 116% 67%,
      30% 85%, 14% 71%, -12% 5%, 38% 17%, 116% 5%, 111% 21%, 113% 87%, 86% 55%,
      49% 15%;
  }
  78% {
    background-position: 35% 94%, -23% 83%, 99% 28%, 39% 81%, 26% 42%, 59% 67%,
      80% 85%, 80% 71%, 36% 5%, 54% 17%, 8% 5%, 60% 21%, 5% 87%, 102% 55%,
      -24% 15%;
  }
  79% {
    background-position: 77% 94%, 86% 83%, -9% 28%, 67% 81%, 91% 42%, 88% 67%,
      100% 85%, 106% 71%, -17% 5%, 7% 17%, -10% 5%, 51% 21%, 97% 87%, 95% 55%,
      78% 15%;
  }
  80% {
    background-position: 23% 94%, 35% 83%, 41% 28%, 22% 81%, 32% 42%, 87% 67%,
      -10% 85%, 95% 71%, 44% 5%, 21% 17%, 7% 5%, -9% 21%, 80% 87%, 44% 55%,
      -24% 15%;
  }
  81% {
    background-position: 75% 94%, 31% 83%, 88% 28%, 32% 81%, 13% 42%, 105% 67%,
      -19% 85%, 30% 71%, 8% 5%, 42% 17%, 53% 5%, 67% 21%, -14% 87%, 71% 55%,
      46% 15%;
  }
  82% {
    background-position: 60% 94%, -1% 83%, 65% 28%, 115% 81%, 49% 42%, 97% 67%,
      25% 85%, -14% 71%, 28% 5%, 30% 17%, 52% 5%, 118% 21%, 101% 87%, -19% 55%,
      86% 15%;
  }
  83% {
    background-position: 26% 94%, -16% 83%, 0% 28%, 78% 81%, 77% 42%, 41% 67%,
      14% 85%, 25% 71%, 102% 5%, 121% 17%, 124% 5%, 95% 21%, 53% 87%, 50% 55%,
      -20% 15%;
  }
  84% {
    background-position: -14% 94%, 58% 83%, 125% 28%, 24% 81%, 64% 42%, 45% 67%,
      84% 85%, -12% 71%, 124% 5%, 31% 17%, 117% 5%, 83% 21%, 87% 87%, 94% 55%,
      71% 15%;
  }
  85% {
    background-position: 30% 94%, 29% 83%, 64% 28%, -3% 81%, 6% 42%, -24% 67%,
      78% 85%, 7% 71%, 57% 5%, 106% 17%, 45% 5%, 110% 21%, 72% 87%, 4% 55%,
      38% 15%;
  }
  86% {
    background-position: 18% 94%, 74% 83%, 3% 28%, -3% 81%, 22% 42%, 14% 67%,
      -11% 85%, 113% 71%, 0% 5%, -5% 17%, 106% 5%, 26% 21%, 17% 87%, -23% 55%,
      54% 15%;
  }
  87% {
    background-position: -17% 94%, 57% 83%, -20% 28%, 75% 81%, 34% 42%, 109% 67%,
      59% 85%, -7% 71%, 81% 5%, 102% 17%, 70% 5%, 10% 21%, 32% 87%, 56% 55%,
      72% 15%;
  }
  88% {
    background-position: 92% 94%, 19% 83%, -2% 28%, 75% 81%, 89% 42%, 10% 67%,
      55% 85%, -4% 71%, 29% 5%, -21% 17%, 33% 5%, -3% 21%, 124% 87%, 93% 55%,
      32% 15%;
  }
  89% {
    background-position: 55% 94%, 23% 83%, -12% 28%, 89% 81%, 108% 42%, 94% 67%,
      7% 85%, 4% 71%, 83% 5%, 70% 17%, -17% 5%, 15% 21%, -19% 87%, 105% 55%,
      96% 15%;
  }
  90% {
    background-position: 48% 94%, 91% 83%, 97% 28%, 64% 81%, 81% 42%, -5% 67%,
      57% 85%, 68% 71%, 89% 5%, 81% 17%, -14% 5%, 77% 21%, 39% 87%, 33% 55%,
      118% 15%;
  }
  91% {
    background-position: -9% 94%, 28% 83%, 39% 28%, 121% 81%, 67% 42%, -23% 67%,
      68% 85%, -10% 71%, 9% 5%, -1% 17%, 121% 5%, 73% 21%, -7% 87%, 67% 55%,
      22% 15%;
  }
  92% {
    background-position: 41% 94%, 71% 83%, 118% 28%, 50% 81%, 82% 42%, 97% 67%,
      21% 85%, 42% 71%, 125% 5%, -13% 17%, 2% 5%, -17% 21%, 0% 87%, 81% 55%,
      10% 15%;
  }
  93% {
    background-position: 81% 94%, 65% 83%, 75% 28%, 6% 81%, 1% 42%, 55% 67%,
      117% 85%, 75% 71%, 76% 5%, 90% 17%, 60% 5%, -10% 21%, 75% 87%, 37% 55%,
      92% 15%;
  }
  94% {
    background-position: 4% 94%, 9% 83%, 21% 28%, 7% 81%, 4% 42%, 36% 67%,
      92% 85%, 21% 71%, 112% 5%, 81% 17%, 10% 5%, 88% 21%, 13% 87%, 33% 55%,
      72% 15%;
  }
  95% {
    background-position: 96% 94%, 2% 83%, 122% 28%, 44% 81%, 46% 42%, 76% 67%,
      21% 85%, 28% 71%, -20% 5%, -23% 17%, 21% 5%, 8% 21%, -11% 87%, 40% 55%,
      71% 15%;
  }
  96% {
    background-position: 88% 94%, 86% 83%, 66% 28%, -6% 81%, 26% 42%, 58% 67%,
      64% 85%, 19% 71%, 85% 5%, 3% 17%, 78% 5%, 77% 21%, 102% 87%, 18% 55%,
      68% 15%;
  }
  97% {
    background-position: 64% 94%, 48% 83%, 3% 28%, -1% 81%, 93% 42%, 45% 67%,
      52% 85%, -10% 71%, 35% 5%, 86% 17%, 3% 5%, 66% 21%, 21% 87%, 3% 55%,
      -16% 15%;
  }
  98% {
    background-position: 106% 94%, -24% 83%, 74% 28%, 45% 81%, -5% 42%, 16% 67%,
      26% 85%, 17% 71%, -4% 5%, -13% 17%, -17% 5%, 38% 21%, 91% 87%, 55% 55%,
      10% 15%;
  }
  99% {
    background-position: 50% 94%, 114% 83%, 74% 28%, 56% 81%, 108% 42%, 60% 67%,
      104% 85%, 44% 71%, 98% 5%, 48% 17%, 82% 5%, 28% 21%, 68% 87%, 46% 55%,
      80% 15%;
  }
  100% {
    background-position: 55% 94%, 26% 83%, 54% 28%, 107% 81%, 62% 42%, 86% 67%,
      74% 85%, 72% 71%, -21% 5%, 21% 17%, 34% 5%, 24% 21%, 80% 87%, 68% 55%,
      -21% 15%;
  }
}

